body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #ffb6c1;
}

header {
  background-color: #b5e7a0; 
  padding: 20px;
}

header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

header ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #333;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #ddd;
  color: #000;
}
nav ul li a, section h2, section h3, section h4 {
  color: white;
}

.maincontent {
  max-width: 650px; 
  margin: 0 auto; 
  padding: 20px;
}


h2, h3 {
  font-size: 36px;
  margin: 10px 0;
}

p, ul, h4 {
  font-size: 20px;
  margin: 10px 0;
  text-align: left; 
}
